#main_container {
    background: url("../images/awardInfo_head.png");
    background-size: 100% 100%;
    min-width: 320px;
    min-height: 332px;
}

.info_body {
    background: url("../images/awardInfo_body.png");
    background-size: 100% 100%;
    min-width: 320px;
    min-height: 38px;
}

.info_area {
    background: url("../images/info_area.png");
    background-size: 100% 100%;
    margin-left: 20%;
    display: inline-block;
    width: 48%;
    text-align: center;
    font-size: large;
}

#info_footer {
    background: url("../images/awardInfo_footer.png");
    background-size: 100% 100%;
    min-width: 320px;
    min-height: 178px;
}

.cashingBTN {
    border-radius: 10px;
    border-color: transparent;
    background-color: #2b766e;
    color: whitesmoke;
}